@import "./elements.css";
@import "./cards.css";

* {
  font-family: 'Lora', serif;
  color: #212020;
  @apply transition duration-300
}
body {
  background-color: #fffff8;
}
h1 {
  @apply text-5xl
}
h2 {
  @apply text-3xl
}
h3 {
  @apply text-xl
}
nav a {
  @apply text-white hover:text-gray-300
}
hr {
  @apply my-8 w-1/3 mx-auto border-black
}
